body {
            font-family: Arial, sans-serif;
            background-color: #f0f8ff;
            text-align: center;
            padding: 50px;
        }

        h1 {
            color: #333;
        }

        .mensaje {
            margin-top: 20px;
            font-size: 1.2em;
            color: #ffffff;
        }

        .menor {
            color: #6311cfbb;
        }